{% extends 'base.html' %}

{% block title %}Language Quiz Platform{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <div class="box">
                    <div class="has-text-centered">
                        <h1 class="title">Welcome to Language Quiz Platform</h1>
                        <p class="subtitle mb-4">Create and manage your language quizzes with ease</p>
                        
                        <div class="columns is-centered">
                            <div class="column is-6">
                                <a href="{% url 'create_test' %}" class="button is-primary is-large is-fullwidth">
                                    Create New Test
                                </a>
                            </div>
                        </div>

                        <div class="mt-4">
                            <h5 class="title is-5 has-text-grey">Features:</h5>
                            <div class="columns mt-3">
                                <div class="column is-6">
                                    <div class="box">
                                        <h6 class="title is-6">Multiple Test Types</h6>
                                        <p>Create gap-filling, multiple choice, and word selection tests</p>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="box">
                                        <h6 class="title is-6">Easy Management</h6>
                                        <p>Preview and edit your tests with simple interface</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}