// Własne zmienne
$custom-gap: 1rem;
$darkgreen: #004862;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$white:#fff;

// Nadpisanie zmiennych Bulmy
// $primary: #004742;
// $family-sans-serif: BlinkMacSystemFont, -apple-system, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;