// Własne zmienne
$custom-gap: 1rem;

// Nadpisanie zmiennych Bulmy
$primary: #004742;
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;